


/* font area */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font area end */

/* shared style start */

.text-1{
    font-family: "Work Sans", sans-serif;
    color: #131313;
}
.text-2{
    font-family: "Work Sans", sans-serif;
    color: #424242;
}
.text-3{
    font-family: "Work Sans", sans-serif;
    color: #727272;
}
.text-4{
    font-family: "Work Sans", sans-serif;
    color: rgba(255, 144, 14, 1);
}
.text-5{
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
}
.bg-color-1{
    background-color: rgba(255, 144, 14, 1);
}
.bg-color-2{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: rgba(255, 144, 14, 1);
    color: #ffffff;
    border: none;
    height: 64px;
    width: 180px;
    border-radius: 8px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.section-title{
    font-family: "Work Sans", sans-serif;
    color: #131313;
    font-size: 3rem;
    font-weight: bold;
}
.section-description{
    font-family: "Work Sans", sans-serif;
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}


/* shared style end */

/* nav bar style start */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    
}
.nav-link {
    text-decoration: none;
    margin-right: 20px;
    color: #424242;
    font-size: 1.3rem;
    font-weight: 500;
    
}
.nav-link:hover{
    color: rgba(255, 144, 14, 1);
}
.nav-item{
    list-style: none;
}
.brand{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}


/* nav bar style end */

/* banner style Start */

.banner-contant{
    max-width: 862px;
    height: 225px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
    
}
.banner-title{
    text-align: center;
}
.banner-text{
    text-align: center;
   
}
.banner-img{
    max-width: 1440px;
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
}


/* banner style End */

/* responsive media banner section start */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .brand {
    margin: 10px auto 10px auto;}
    .banner-title {
    text-align: center;
}
.banner-contant{
    height: 300px;
}
.banner-img{
    
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    
}
    
}


/* responsive media banner section end */

/* features Section Style Start */

.features{
    max-width: 1440px;
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-img img{
    max-width: 342px;
    height: 342px;
}
.features-contant{
    height: 305px;
    width: 537px;
    text-align: center;
}
.features-title-1{
    font-size: 3rem;
    font-weight: 500;

}
.features-title-2{
    font-size: 3rem;
    font-weight: bold;
}
.features-title-3{
    font-size: 3rem;
    font-weight: bold;
}
.features-text{
    font-size: 1rem;
    font-weight: 400;
}


/* features Section responsive style start */


@media screen and (max-width: 576px){

    .features{
        flex-direction: column;
    }
    .features-img{
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (min-width:576px) and (max-width: 1180px){

    .features{
        flex-direction: column;
        gap: 40px;
    }
}



/* features Section responsive style End */



/* features Section Style End */


/* Features 2 section style start */

.features-2{
    display: flex;
    max-width: 1440px;
    margin-top: 130px;
    height: 1060px;
}
.features2-contant{
    margin-right: 54px;
}
.features2-contant h2{
    max-width: 470px;
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.s-d{
    max-width: 586px;
}
.info-part{
   
}
.info{
    max-width: 586px;
    max-height: 171px;
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}
.f-img{
    max-width: 708px;
    max-height: 982px;
    margin-left: 92px;
}
.f-btn{
    width: 342px;
    height: 200px;
    background-color: #ff900e;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin-top: -123px;
}
.btn-year{
    font-size: 4rem;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
}

/* Features 2 section style end */

/* fact section style start */

.fact-section{
    max-width: 1440px;
    justify-content: center;
    margin-top: 130px;
    
}

.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    

}

#fact-description{
    max-width: 542px;
}
.fact{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 242px;
    height: 242px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fact-number{
     font-family: "Work Sans", sans-serif;
    color: #424242;
    font-weight: 700;
    font-size: 3rem;
    margin: 10px 0;


}
.fact-name{
    
    font-family: "Work Sans", sans-serif;
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    
    
}



/* fact section style start */